body{
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img{
    width: 200px;
}

.hel{
    border-bottom: 12px solid #d2b6eb;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    width: 450px;
    margin: 0 auto;
    background: rgb(167, 80, 177);
}

.details{
    padding-top: 20px;
    text-align: center;
    color: #2b2839;
    font: helv;
}



